*$py.class
*.egg-info/
*.json
*.log
*.py[cod]
.DS_Store
.coverage
.exrc
.idea
.pytest_cache/
.python-version
.vimrc
.vs
.vscode
MANIFEST
__pycache__/
build
demo/
dist/
playground.py
testing/test_files_*
venv*
