__pycache__/
.coverage
.DS_Store
.env
.exrc
.idea
.mypy_cache/
.pytest_cache/
.vimrc
.vs
.vscode
*.egg-info/
*.json
*.log
*.py[cod]
*$py.class
build
coverage.xml
demo/
dist/
MANIFEST
mnamer/__version__.py
playground.py
testing/test_files_*
venv*
