black >= 25.1.0
build >= 1.2.2
codecov >= 2.1.13
isort >= 6.0.1
mypy >= 1.16.1
pyflakes >= 3.4.0
pylint >= 3.3.7
pytest >= 8.4.1
pytest-cov >= 6.2.1
pytest-rerunfailures >= 15.1
setuptools >= 80.9.0
twine >= 6.1.0
types-requests >= 2.32.4.20250611
wheel >= 0.45.1
