name: push

on:
  push:
  schedule:
    - cron: "0 8 * * 1" # mondays at 8am

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/lint

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/test

  publish:
    runs-on: ubuntu-latest

    if: >-
      success()
      && github.event_name == 'push'
      && github.ref == 'refs/heads/main'

    needs:
      - lint
      - test

    steps:
      - uses: actions/checkout@v3
        with: { fetch-depth: 0 } # required for setuptools_scm to detect git tags
      - uses: ./.github/actions/init

      - name: Building
        run: python3 -m build --sdist --wheel --no-isolation

      - name: Reporting Version
        run: python3 -m mnamer --version

      - name: Uploading to PyPI
        run: >-
          twine upload
          --username __token__
          --password ${{secrets.pypi_password}}
          dist/*
